/* The styling for our HTML pages */

/* fonts */
@import url('https://fonts.googleapis.com/css?family=Overpass&effect=fire-animation');

* {
  font-family: 'Overpass', sans-serif;
  line-height: 1.1em;
}

:root {
  --main-text-color: #1E1E1E;
  --sine-ease: all cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
  --back-ease: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s;
}

body {
  background-color: #F3F3F3;
  font-size: 30px;  
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

p {
  color: var(--main-text-color);
}

main {
  flex: 1;
}

#iosDownloadSuggestion {
  /*By default, we don't display this. We can
  unhide it if we find out it's an iOS user in index.js*/
  display: none; 
  font-size: 15px;
}

form {
  display: block;
}

h1 {
    color: var(--main-text-color);
}

label {
  display: block;
  color: var(--main-text-color);
}

input {
  margin-bottom: 1em;
  font-size: 25px;
  text-align: center;
  border-radius: 10px;
  border-width: 0px;
  transition: background-color, linear, 1s;
}

input:focus {
  background-color: #82c6ec;
  transition: background-color, linear, 1s;
}

input::placeholder {
  color: rgb(192, 192, 192);
}

.center {
  margin: auto;
  margin-bottom: 1em;
}

button {
  color: white;
  border: none;
  padding: 12px 40px;
  font-size: 1em;

  background-color: #03a1fc;
  display: inline-block;
  border-radius: 100px;

  margin-top: 0;
  margin-bottom: 6px;
  box-shadow: 0px 6px #007dc4, 0px 6px 0 6px rgb(209, 226, 228);
  /*** these 6px values need to be the same (see below with ***) */

  transition: var(--back-ease);

  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

button:hover {
  margin-top: 6px;
  margin-bottom: 0px;
  box-shadow: 0px 0px #007dc4, 0px 0px 0 6px rgb(209, 226, 228);
  /*** these 6px values need to be the same (see above with ***) */

  transition: var(--sine-ease);

  cursor: pointer;
}

.backButton {
  font-size: 0.5em;
}