/* The styling for our HTML pages */

body {
  font-size: 30px;
}

#iosDownloadSuggestion {
  /*By default, we don't display this. We can
  unhide it if we find out it's an iOS user in index.js*/
  display: none; 
}

#iosDownloadSuggestion > p {
  font-size: 15px;
  position: fixed; 
  bottom: 0;
  width:99%;
  text-align: justify;
}

form {
  display: block;
}

label {
  display: block;
}

input {
  margin-bottom: 1em;
  font-size: 16px;
  text-align: center;
}

button {
  font-size: 1em;
  display: block;
}

.center {
  margin: auto;
  margin-bottom: 1em;
}

.backButton {
  font-size: 0.5em;
}
