/* The styling for our HTML pages */

* {
  font-family: "Overpass", sans-serif;
  line-height: 1.1em;
}

:root {
  --sine-ease: all cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
  --back-ease: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s;
  --long-decay-ease: all cubic-bezier(0, 0.16, 0.59, 0.89) 0.3s;
  --text-input-ease: background-color, linear, 0.5s;

  --background-color: #ffffff;

  --button-color: #03a1fc;
  --button-shade-color: #000000;
  --button-text-color: #ffffff;
  --button-hold-color: #000000;

  --minus-button-color: rgba(255, 120, 120, 1);
  --minus-button-color-hover: #ff0000;

  --plus-button-color: rgb(120, 200, 120);

  --input-placeholder-text-color: #a2bace;
  --input-selection-color: #c4e0f0;
  --input-background-color: #f5f8fa;

  --heading-text-color: #0b004b;
  --subheading-text-color: #204ba0;
  --par-text-color: #000000;

  --header-bar-text-color: #0b004b;
  --header-bar-selected-text-color: #2355b8;
  --header-bar-hover-text-color: #03a1fc;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: var(--background-color);
  font-size: 30px;
  min-height: 100vh;
}

p {
  color: var(--heading-text-color);
}

main {
  margin: 0;
}
