/* The styling for our HTML pages */

* {
  font-family: "Overpass", sans-serif;
  line-height: 1.1em;
}

:root {
  --sine-ease: all cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
  --back-ease: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s;
  --long-decay-ease: all cubic-bezier(0, 0.16, 0.59, 0.89) 0.3s;
  --linear-ease: linear 0.5s;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: var(--background-color);
  transition: background-color var(--linear-ease);
  font-size: 30px;
  min-height: 100vh;
}

p {
  color: var(--par-text-color);
}

main {
  margin: 0;
}
