/* The styling for our HTML pages */

* {
  font-family: "Overpass", sans-serif;
  line-height: 1.1em;
}

:root {
  /* https://cubic-bezier.com/ */
  --sine-ease: all cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
  --back-ease: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s;
  --fast-middle-ease: cubic-bezier(0.7, 0, 0.3, 1) 0.4s;
  --long-decay-ease: all cubic-bezier(0, 0.16, 0.59, 0.89) 0.3s;
  --linear-ease: linear 0.5s;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: var(--background-color);
  font-size: 30px;
  min-height: 100vh;
}

body.enable-transition {
  transition: background-color var(--fast-middle-ease);
}

a:link {
  color: var(--link-color);
}

a:visited {
  color: var(--visited-link-color);
}

p {
  color: var(--par-text-color);
}

main {
  margin: 0;
}

html,
html[data-theme="light"] {
  --background-color: #ffffff;
  --alt-background-color: rgb(221, 237, 241);
  --slick-background-color: #f5f8fa;

  --button-color: #03a1fc;
  --button-shade-color: #007dc4;
  --button-text-color: #ffffff;
  --button-hold-color: rgb(209, 226, 228);

  --minus-button-color: rgba(255, 120, 120, 1);
  --minus-button-color-hover: #ff0000;

  --plus-button-color: rgb(120, 200, 120);
  --plus-button-hover-color: rgb(93, 158, 93);

  --edit-button-color: #ebac00;
  --edit-button-shade-color: #cf8f05;
  --edit-button-hold-color: rgb(228, 231, 206);

  --input-text-color: #000000;
  --input-placeholder-text-color: #a2bace;
  --input-selection-color: #c4e0f0;
  --input-selection-text-color: #000000;
  --input-background-color: #f5f8fa;

  --heading-text-color: #220d8a;
  --subheading-text-color: #204ba0;
  --par-text-color: #000000;
  --less-important-text-color: #6f6f6f;

  --header-bar-text-color: #0b004b;
  --header-bar-selected-text-color: #2355b8;
  --header-bar-hover-text-color: #03a1fc;
  --header-bar-shadow-color: #03a1fc;

  --link-color: #0000ee;
  --visited-link-color: #5a1a8b;

  --moon-filter: hue-rotate(0deg) contrast(110%);
}

html[data-theme="dark"] {
  --background-color: #15202b;
  --alt-background-color: #192734;
  --slick-background-color: #253341;

  --button-color: #f0d019;
  --button-shade-color: #c2980f;
  --button-text-color: #2f004e;
  --button-hold-color: #1c2e40;

  --minus-button-color: rgba(255, 120, 120, 1);
  --minus-button-color-hover: #ff0000;

  --plus-button-color: rgb(120, 200, 120);
  --plus-button-hover-color: rgb(93, 158, 93);

  --edit-button-color: #ebac00;
  --edit-button-shade-color: #cf8f05;
  --edit-button-hold-color: #1c2e40;

  --input-text-color: #ffffff;
  --input-placeholder-text-color: #f7efa8;
  --input-selection-color: #f7efa8;
  --input-selection-text-color: #2f004e;
  --input-background-color: #253341;

  --heading-text-color: #ccc9a9;
  --subheading-text-color: #fffcec;
  --par-text-color: #ffffff;
  --less-important-text-color: #6f6f6f;

  --header-bar-text-color: #5e560e;
  --header-bar-selected-text-color: #968d3b;
  --header-bar-hover-text-color: #f0d019;
  --header-bar-shadow-color: #f0ac19;

  --link-color: #0087e0;
  --visited-link-color: #9a41ee;

  --moon-filter: hue-rotate(180deg) contrast(90%);
}
